# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\kartik\git projects\savemytime visual\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/../../../../../:\kartik\git projects\savemytime visual\viz with processingpy\sketch_220202a\day_to_date$py.class
